# 忽略 API 密钥文件 (绝对不能上传！！！)
api.txt
.env

# 忽略 Python 编译产生的垃圾文件
__pycache__/
*.pyc

# 忽略本地的向量数据库文件夹 (太大了，不需要上传，代码会自动生成)
chroma_db/
faiss_index/

# 忽略 IDE 的配置文件
.idea/
.vscode/

# 忽略虚拟环境
venv/
env/
faiss_index_store
bnuz_helper.txt